[submodule "sdk/community-js"]
	path = sdk/community-js
	url = https://github.com/selfcommunity/community-js.git
	branch = prerelease
[submodule "sdk/community-ui"]
    path = sdk/community-ui
    url = ../community-ui.git
